<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}andresarbib">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/10-andresarbib.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}andresarbib">
        <header class="post-card-header">
            <h2 class="post-card-title">André Sarbib</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <!-- <span class="post-card-author">
            <a>seBENTA</a>
        </span>-->
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}sebenta">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/9-sebenta.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}sebenta">
        <header class="post-card-header">
            <h2 class="post-card-title">seBENTA</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <!-- <span class="post-card-author">
            <a>seBENTA</a>
        </span>-->
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}raizes-charliemancini">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/8-charliemancini.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}raizes-charliemancini">
        <header class="post-card-header">
            <h2 class="post-card-title">Raízes - fotoconcerto</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>Charlie Mancini</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}johnblackwolf">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/7-johnblack.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}johnblackwolf">
        <header class="post-card-header">
            <h2 class="post-card-title">John Black Wolf</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>DIOGO LIMA</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}metamorfoses">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/6-metamorfoses.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}metamorfoses">
        <header class="post-card-header">
            <h2 class="post-card-title">Prima Terça - Metamorfoses em Sena</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>ANDRÉ GAGO E JOSÉ ANJOS</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}partir">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/partirphoto.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}partir">
        <header class="post-card-header">
            <h2 class="post-card-title">Partir - solo teatral</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>ROMUALDO SARCEDO</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}susanacruz">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/cancoes.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}susanacruz">
        <header class="post-card-header">
            <h2 class="post-card-title">Canções da Viagem</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>SUSANA CRUZ</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}peacocks">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/3peacocks.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}peacocks">
        <header class="post-card-header">
            <h2 class="post-card-title">IMPROV with PEACOCKS by Bill Evans</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>SÃO MATTHIAS NUNES </a>
        </span>
    </footer>
</div>

</article>

<article class="post-card {{ page.class }}">
        <a class="post-card-image-link" href="{{site.baseurl}}astrusduo">
            <div class="post-card-image" style="background-image: url(assets/images/estreias/2astrusduo.jpg)"></div>
        </a>

    <div class="post-card-content">
        <a class="post-card-content-link" href="{{site.baseurl}}astrusduo">
            <header class="post-card-header">
                <h2 class="post-card-title">ASTRUS DUO</h2>
            </header>

        </a>
            
        <footer class="post-card-meta">
            <span class="post-card-author">
                <a>MANUEL TELES E PAULO AMENDOEIRA</a>
            </span>
        </footer>
    </div>

</article>

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}amalia">
        <div class="post-card-image" style="background-image: url(assets/images/poetas_amalia.jpg)"></div>
    </a>

    <div class="post-card-content">
        <a class="post-card-content-link" href="{{site.baseurl}}amalia">
            <header class="post-card-header">
                <h2 class="post-card-title">Prima Terça — os poetas de Amália</h2>
            </header>

        </a>

        <footer class="post-card-meta">
            <span class="post-card-author">
                <a>ANDRÉ GAGO E PEDRO DIAS</a>
            </span>
        </footer>
    </div>


</article>
