<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}respostas">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/20-respostas.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}respostas">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#20</span>
            <h2 class="post-card-title">Respostas a Malmequeres</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>[embuscada]</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}dancascomhistoria">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/19-dancas.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}dancascomhistoria">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#19</span>
            <h2 class="post-card-title">Danças da Renascença na Quinta da Regaleira</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>Danças com História</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}krisrosa">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/18-krisrosa.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}jazzin">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#18</span>
            <h2 class="post-card-title">Kris Rosa e Zé Carolino</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}mattewave">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/17-mattewave.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}mattewave">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#17</span>
            <h2 class="post-card-title">Mattewave</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}transitos">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/16-transitos.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}transitos">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#16</span>
            <h2 class="post-card-title">Trânsitos</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>Chandi Oliveira</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}quasetudo">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/15-quasetudo.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}quasetudo">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#15</span>
            <h2 class="post-card-title">Prima Terça - (Quase) Tudo Acerca de Música!</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>André Gago e Nicholas McNair</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}guardador">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/14-guardador.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}jazzin">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#14</span>
            <h2 class="post-card-title">Guardador de Rebanhos</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>Carlos ABC</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}confinamento">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/13-confinamento.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}confinamento">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#13</span>
            <h2 class="post-card-title">Confinamento</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>Leonor Zarcos e Jean Silva</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}jazzin">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/12-jazzin.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}jazzin">
        <header class="post-card-header">
            <span class="post-card-tags">TEIA '#12</span>
            <h2 class="post-card-title">Jazzin'</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <span class="post-card-author">
            <a>IVO SOARES & ZÉ SOARES DUO</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}joaodailha">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/11-joaodailha.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}joaodailha">
        <header class="post-card-header">
        <span class="post-card-tags">TEIA '#11</span>
            <h2 class="post-card-title">João da Ilha</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <!-- <span class="post-card-author">
            <a>seBENTA</a>
        </span>-->
    </footer>
</div>

</article>


<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}andresarbib">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/10-andresarbib.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}andresarbib">
        <header class="post-card-header">
        <span class="post-card-tags">TEIA '#10</span>
            <h2 class="post-card-title">André Sarbib</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <!-- <span class="post-card-author">
            <a>seBENTA</a>
        </span>-->
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}sebenta">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/9-sebenta.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}sebenta">
        <header class="post-card-header">
        <span class="post-card-tags">TEIA '#9</span>
            <h2 class="post-card-title">seBENTA</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
       <!-- <span class="post-card-author">
            <a>seBENTA</a>
        </span>-->
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}raizes-charliemancini">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/8-charliemancini.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}raizes-charliemancini">
        <header class="post-card-header">
        <span class="post-card-tags">TEIA '#8</span>
            <h2 class="post-card-title">Raízes - fotoconcerto</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>Charlie Mancini</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}johnblackwolf">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/7-johnblack.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}johnblackwolf">
        <header class="post-card-header">
        <span class="post-card-tags">TEIA '#7</span>
            <h2 class="post-card-title">John Black Wolf</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>DIOGO LIMA</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}metamorfoses">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/6-metamorfoses.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}metamorfoses">
        <header class="post-card-header">
            <h2 class="post-card-title">Prima Terça - Metamorfoses em Sena</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>ANDRÉ GAGO E JOSÉ ANJOS</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}partir">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/partirphoto.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}partir">
        <header class="post-card-header">
            <h2 class="post-card-title">Partir - solo teatral</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>ROMUALDO SARCEDO</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}susanacruz">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/cancoes.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}susanacruz">
        <header class="post-card-header">
            <h2 class="post-card-title">Canções da Viagem</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>SUSANA CRUZ</a>
        </span>
    </footer>
</div>

</article>

<!--    ||||||||||||||||||||              -->

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}peacocks">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/3peacocks.jpg)"></div>
    </a>
<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}peacocks">
        <header class="post-card-header">
            <h2 class="post-card-title">IMPROV with PEACOCKS by Bill Evans</h2>
        </header>
    </a>
        
    <footer class="post-card-meta">
        <span class="post-card-author">
            <a>SÃO MATTHIAS NUNES </a>
        </span>
    </footer>
</div>

</article>

<article class="post-card {{ page.class }}">
        <a class="post-card-image-link" href="{{site.baseurl}}astrusduo">
            <div class="post-card-image" style="background-image: url(assets/images/estreias/2astrusduo.jpg)"></div>
        </a>

    <div class="post-card-content">
        <a class="post-card-content-link" href="{{site.baseurl}}astrusduo">
            <header class="post-card-header">
                <h2 class="post-card-title">ASTRUS DUO</h2>
            </header>

        </a>
            
        <footer class="post-card-meta">
            <span class="post-card-author">
                <a>MANUEL TELES E PAULO AMENDOEIRA</a>
            </span>
        </footer>
    </div>

</article>

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}amalia">
        <div class="post-card-image" style="background-image: url(assets/images/poetas_amalia.jpg)"></div>
    </a>

    <div class="post-card-content">
        <a class="post-card-content-link" href="{{site.baseurl}}amalia">
            <header class="post-card-header">
                <h2 class="post-card-title">Prima Terça — os poetas de Amália</h2>
            </header>

        </a>

        <footer class="post-card-meta">
            <span class="post-card-author">
                <a>ANDRÉ GAGO E PEDRO DIAS</a>
            </span>
        </footer>
    </div>


</article>
